<footer>
    <div class="splitter"></div>
    <ul>
        <li>
            <div class="icon" data-icon="E"></div>
            <div class="text">
                <h4>Chất lượng</h4>
                <div>
                    Tất cả các sản phẩm bán tại cửa hàng 278 Phố Huế Hai Bà Trưng Hà Nội đều là các sản phẩm có nguồn gốc xuất xứ rõ ràng. Trên tem, mác sản phẩm đều có những thông tin quy cách kỹ thuật và địa chỉ của nhà sản xuất.
                    Chúng tôi cam kết không bán hàng giả hàng nhái hàng kém chất lượng. Tất cả các sản phẩm mà quý khách mua đều có giá niêm yết trên web site và giá đó là giá quy định từ nhà sản xuất.
                </div>
            </div>
        </li>
        <li>
            <div class="icon" data-icon="a"></div>
            <div class="text">
                <h4>Thanh toán</h4>
                <div>
                    Khi mua hàng quý khách vui lòng thanh toán tiền mặt hay sử dụng các loại thẻ thanh toán hoặc chuyển khoản qua ngân hàng (chúng tôi sẽ cung cấp thông tin ngân hàng mà quý khách tiện giao dịch nhất).
                    Mọi thông và giao dịch xác nhận chuyển tiền và nhận được tiền đã chuyển. chúng tôi xác nhận qua email Everonphohue@gmail.com hoặc tin nhắn qua số điện thoại 098.468.5283
                </div>
            </div>
        </li>
        <li>
            <div class="icon" data-icon="s"></div>
            <div class="text">
                <h4>Chính sách</h4>
                <div>Tùy vào thỏa thuận giữa quý khách và cửa hàng trước khi tiến hành mua bán hàng hóa về việc trả hàng và hoàn lại tiền. Trước khi mua, bán mà giữa khách hàng và cửa hàng không có thỏa thuận về việc trả lại hàng và hoàn tiền thì mặc định của giao dịch này sẽ áp dụng sang chính sách đổi hàng.</div>
            </div>
        </li>
    </ul>

    @*<div class="bar">
            <div class="bar-wrap">
                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">License</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">About</a></li>
                </ul>

                <div class="social">
                    <a href="#" class="fb">
                        <span data-icon="f" class="icon"></span>
                        <span class="info">
                            <span class="follow">Become a fan Facebook</span>
                            <span class="num">9,999</span>
                        </span>
                    </a>

                    <a href="#" class="tw">
                        <span data-icon="T" class="icon"></span>
                        <span class="info">
                            <span class="follow">Follow us Twitter</span>
                            <span class="num">9,999</span>
                        </span>
                    </a>

                    <a href="#" class="rss">
                        <span data-icon="R" class="icon"></span>
                        <span class="info">
                            <span class="follow">Subscribe RSS</span>
                            <span class="num">9,999</span>
                        </span>
                    </a>
                </div>
                <div class="clear"></div>
                <div class="copyright">&copy;  Chăn ga gối đệm Everon</div>
            </div>
        </div>*@
</footer>


