@*<footer>
    <div class="splitter"></div>
    <ul>
        <li>
            <div class="icon" data-icon="E"></div>
            <div class="text">
                <h4>Chất lượng</h4>
                <div>
                    Tất cả các sản phẩm bán tại cửa hàng 278 Phố Huế Hai Bà Trưng Hà Nội đều là các sản phẩm có nguồn gốc xuất xứ rõ ràng. Trên tem, mác sản phẩm đều có những thông tin quy cách kỹ thuật và địa chỉ của nhà sản xuất.
                    Chúng tôi cam kết không bán hàng giả hàng nhái hàng kém chất lượng. Tất cả các sản phẩm mà quý khách mua đều có giá niêm yết trên web site và giá đó là giá quy định từ nhà sản xuất.
                </div>
            </div>
        </li>
        <li>
            <div class="icon" data-icon="a"></div>
            <div class="text">
                <h4>Thanh toán</h4>
                <div>
                    Khi mua hàng quý khách vui lòng thanh toán tiền mặt hay sử dụng các loại thẻ thanh toán hoặc chuyển khoản qua ngân hàng (chúng tôi sẽ cung cấp thông tin ngân hàng mà quý khách tiện giao dịch nhất).
                    Mọi thông và giao dịch xác nhận chuyển tiền và nhận được tiền đã chuyển. chúng tôi xác nhận qua email Everonphohue@gmail.com hoặc tin nhắn qua số điện thoại 098.468.5283
                </div>
            </div>
        </li>
        <li>
            <div class="icon" data-icon="s"></div>
            <div class="text">
                <h4>Chính sách</h4>
                <div>Tùy vào thỏa thuận giữa quý khách và cửa hàng trước khi tiến hành mua bán hàng hóa về việc trả hàng và hoàn lại tiền. Trước khi mua, bán mà giữa khách hàng và cửa hàng không có thỏa thuận về việc trả lại hàng và hoàn tiền thì mặc định của giao dịch này sẽ áp dụng sang chính sách đổi hàng.</div>
            </div>
        </li>
    </ul>
</footer>*@
<div class="footer">
    <div class="footer-content clearfix">
        <div class="footer-top hidden-sm hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="footer-box col-md-3 hotline col-sm-12 col-xs-12">HOTLINE: 0969012033</div>
                    <div class="footer-box box-social col-md-3 col-sm-12 col-xs-12">
                        <div class="item">
                            <div class="social-icon">
                                <ul>
                                    <li><a target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="https://www.facebook.com/runtime.vn" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a target="_blank"><i class="fa fa-youtube"></i></a></li>
                                    <li><a target="_blank"><i class="fa fa-twitter "></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-box col-md-3 button-contact">
                        <a class="btn">Hợp tác với chúng tôi</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="footer-box box-address col-md-3 col-sm-12 col-xs-12">
                    <div class="item">
                        <div class="clearfix">
                            <a href="/">
                                <img src="~/Assets/client/images/logo/1.png" class="img-responsive" />
                            </a>
                        </div>
                        <div class="box-address-content">
                            <b>Đàm Quang Tuyển</b>
                            <p><i class="fa fa-map-marker"></i> Hưng Yên</p>
                            <p>
                                <i class="fa fa-envelope"></i>
                                <a href="mailto:info@runtime.vn">info@runtime.vn</a>
                            </p>
                            <p>
                                <i class="fa fa-phone"></i>
                                Phone: 0969012033
                            </p>
                        </div>
                    </div>
                </div>
                <div class="footer-box col-md-3 col-sm-12 col-xs-12">
                    <div class="item">
                        <h3>
                            <span>Về ch&#250;ng t&#244;i</span>
                        </h3>
                    </div>
                    <ul>
                        <li>
                            <a href="/gioi-thieu.html">
                                Giới thiệu
                            </a>
                        </li>
                        <li>
                            <a href="/content/giao-hang-doi-tra.html">
                                Giao h&#224;ng - Đổi trả
                            </a>
                        </li>
                        <li>
                            <a href="/content/chinh-sach-bao-mat.html">
                                Ch&#237;nh s&#225;ch bảo mật
                            </a>
                        </li>
                        <li>
                            <a href="/lien-he.html">
                                Li&#234;n hệ
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-box col-md-3 col-sm-12 col-xs-12">
                    <div class="item">
                        <h3>
                            <span>Trợ gi&#250;p</span>
                        </h3>
                    </div>
                    <ul>
                        <li>
                            <a href="/content/huong-dan-mua-hang.html">
                                Hướng dẫn mua h&#224;ng
                            </a>
                        </li>
                        <li>
                            <a href="/content/huong-dan-thanh-toan.html">
                                Hướng dẫn thanh to&#225;n
                            </a>
                        </li>
                        <li>
                            <a href="/content/tai-khoan-giao-dich.html">
                                T&#224;i khoản giao dịch
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-box box-social col-md-3 col-sm-12 col-xs-12">
                    <div class="item">
                        <h3>
                            Facebook
                        </h3>
                        <div class="fb-like-box" data-href="https://www.facebook.com/runtime.vn" data-width="289"
                             data-height="190" data-colorscheme="dark" data-show-faces="true" data-header="false"
                             data-stream="false" data-show-border="false">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

