@model List<Model.EF.Menu>

<div class="menu">
    <ul>
        @foreach (var item in Model)
        {
            <li class="active"><a href="@item.Link" target="@item.Target" style="background:#e89f65;font-family:sans-serif; font-weight:bold">@item.Text</a></li>
        }
        <div class="clear"></div>
    </ul>
</div>
