@model Model.EF.Colors

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
   Chi tiết màu sắc
}

<div>
    <h4>Colors</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Color_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Color_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
