@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="content">
        <div class="section group">
            <div class="col_1_of_3 span_1_of_3">
                <h3 style="font-family: sans-serif;">Giới thiệu về Everon</h3>
                <img src="/Assets/client/images/about_img.jpg" alt="">
                <p>Chúng ta dành một phần ba thời gian cuộc đời ở trên giường ngủ nhưng ít khi quan tâm đến nó. Một chiếc giường êm ái, một bộ chăn ga gối chất liệu tự nhiên mềm mại với một không gian thoáng đãng chính là điều chúng ta nên đầu tư nhất để có sức khỏe tái tạo năng lượng cho ngày mới.  Lấy ý tưởng từ chất liệu Tencel  là sản phẩm 100% từ gỗ tự nhiên không độc hại , thân thiện với môi trường, Tencel shop mở ra một không gian phòng ngủ sang trọng,hiện đại, tinh tế  cùng với nhiều chất liệu chăn ga gối cao cấp khác nhau với giá cả phải chăng cho người tiêu dùng thoải mái lựa chọn. Sau một ngày làm việc căng thẳng,  hãy đắm mình vào chiếc giường êm ái mềm mại như trong vòng tay người yêu thương, bạn sẽ được tiếp thêm sức mạnh cuộc sống. </p>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h3 style="font-family: sans-serif;">Lịch sử phát triển</h3>
                <div class="history-desc">
                    <div class="year"><p>2001 -</p></div>
                    <p class="history">Ra đời vào năm 2001, sản phẩm Chăn ga gối đệm Cao cấp Everon chính thức đánh dấu sự tham gia một thương hiệu nội địa vào thị trường hàng tiêu dùng trong nước, nhằm cạnh tranh với các thương hiệu và Công ty nước ngoài vốn độc chiếm thị trường lâu nay. Chúng tôi muốn chứng minh rằng, các Doanh nghiệp, doanh nhân Việt Nam luôn mang trong mình khát vọng và ý chí vươn lên mãnh liệt.</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div class="year"><p>2005 -</p></div>
                    <p class="history">Công ty tiếp tục cải tiến và phát triển dòng sản phẩm truyền thống hiện có là Classic Collection, đồng thời cho ra mắt hai dòng sản phẩm mới là Home Collection và Luxury Collection hướng tới tất cả các đối tượng người tiêu dùng trên khắp lãnh thổ Việt Nam. Tất cả các sản phẩm mới đều sử dụng các nguyên liệu chất lượng cao nhất, được thiết kế cầu kỳ, đa dạng, mang tính Thời trang và thẩm mỹ cao nhằm đem lại cảm giác hài hoà, thoải mái và ấm áp cho mọi căn phòng ngủ của các gia đình Việt Nam.</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div class="year"><p>2012 -</p></div>
                    <p class="history">Sau hơn 10 năm xuất hiện trên thị trường, thương hiệu Everon đã dần khẳng định được chỗ đứng của mình, được người tiêu dùng tin tưởng và trở thành sản phẩm quen thuộc của nhiều gia đình Việt Nam. Để xứng đáng với niềm tin ấy và không ngừng vươn xa hơn để trở thành niềm tự hào của các thương hiệu Việt Nam, Công ty hiện không ngừng đầu tư đổi mới công nghệ sản xuất, thiết bị, chú trọng đầu tư vào việc thiết kế, quản lý chất lượng sản phẩm, quảng bá thương hiệu. Công ty cũng rất quan tâm đến tính an toàn và sức khỏe của người tiêu dùng bằng những cam kết và quy trình kiểm tra chất lượng nghiêm ngặt trên từng sản phẩm cũng như lựa chọn các nhà cung cấp nguyên liệu uy tín.</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div class="year"><p>2014 -</p></div>
                    <p class="history">Năm 2015, Everon tiếp tục cung cấp ra thị trường dòng sản phẩm trẻ em: Baby Collection với hai dòng sản phẩm chủ đạo: Doraemon và Hello Kitty, được mua bản quyền từ Nhật Bản đánh dấu bước phát triển vượt bậc trên thị trường cũng như khẳng định uy tín của công ty với các đối tác trong và ngoài nước. Các sản phẩm có màu sắc rực rỡ, hình ảnh ngộ nghĩnh, đáng yêu phù hợp với trẻ sơ sinh, trẻ nhỏ và thanh thiếu niên.</p>
                    <div class="clear"></div>
                </div>
               
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h3 style="font-family: sans-serif;">Tiềm năng</h3>
                <p>Với những con số "biết nói" về doanh thu và lợi nhuận cũng như quy mô nhà xưởng, máy móc liên tục được đầu tư, phát triển và mở rộng, chúng tôi tự tin và hướng về tương lai với các sản phẩm mang đặc trưng tâm hồn người VIệt, đậm đà bản sắc dân tốc nhưng đồng thời cũng mang nhiều nét hiện đại, đổi mới. May Everon nguyện cùng đồng hành với Người tiêu dùng trong phong trào "Người Việt dùng hàng Việt" như một sự tri ân những khách hàng đã gắn bó, tin tưởng Everon trong nhiều năm qua.

</p>
                <div class="list">
                    <ul>
                       
                    </ul>
                </div>
                <p>Không gian của mỗi gia đình sẽ trở nên ấm cúng hơn nhờ những sắc mầu chăn, ga, gối, đệm của Công ty Cổ phần May Everon. Dù trong những ngày đông lạnh giá nhất, Sông Hồng luôn biết “sưởi ấm” và làm trọn vẹn hơn từng giờ phút sum vầy, hạnh phúc của mọi nhà.
</p>
            </div>
        </div>
    </div>
</div>