
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-success">
    Đơn hàng của bạn đã được gửi thành công. Đang chờ Admin kiểm duyệt. 
</div>



