
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="content">
        <div class="section group">
            <div class="grid_1_of_3 images_1_of_3">
                <img src="/Assets/client/images/delivery-img2.jpg" alt="" />
                <h3 style="font-family: sans-serif;">Các quy định về chất lượng hàng hóa tại cửa hàng chúng tôi.</h3>
                <p>
                    Tất cả các sản phẩm bán tại cửa hàng 278 Phố Huế Hai Bà Trưng Hà Nội đều là các sản phẩm có nguồn gốc xuất xứ rõ ràng. Trên tem, mác sản phẩm đều có những thông tin quy cách kỹ thuật và địa chỉ của nhà sản xuất.
                    Chúng tôi cam kết không bán hàng giả hàng nhái hàng kém chất lượng. Tất cả các sản phẩm mà quý khách mua đều có giá niêm yết trên web site và giá đó là giá quy định từ nhà sản xuất.
                </p>
            </div>
            <div class="grid_1_of_3 images_1_of_3">
                <img src="/Assets/client/images/delivery-img3.jpg" alt="" />
                <h3  style="font-family: sans-serif;">Hình thức thanh toán và vận chuyển hàng hóa.</h3>
                <p>Khi mua hàng quý khách vui lòng thanh toán tiền mặt hay sử dụng các loại thẻ thanh toán hoặc chuyển khoản qua ngân hàng (chúng tôi sẽ cung cấp thông tin ngân hàng mà quý khách tiện giao dịch nhất). Mọi thông và giao dịch xác nhận chuyển tiền và nhận được tiền đã chuyển. chúng tôi xác nhận qua email Everonphohue@gmail.com hoặc tin nhắn qua số điện thoại 098.468.5283</p>
                <p>
                    Sau khi có đơn đặt hàng của quý khách ở phần liên hệ đặt hàng bộ phận tiếp nhận sẽ thông báo đến quý khách tình trạng và thông tin hàng hóa mà quý khách yêu cầu. Tùy theo vị trí địa lý mà quý khách yêu cầu chuyển hàng tới chúng tôi sẽ thỏa thuận để có phương thức vận chuyển hợp lý nhất để có phương thức giao nhận hàng hóa dễ nhất. (chuyển trực tiếp, hay qua các nhà chuyển phát như viettell hay tín thành...)
                </p>
                <p></p>
            </div>
            <div class="grid_1_of_3 images_1_of_3">
                <img src="/Assets/client/images/delivery-img1.jpg" alt="" />
                <h3  style="font-family: sans-serif;">Chính sách đổi trả hàng và hoàn lại tiền.</h3>
                <p>Sau khi quý khách mua hàng tại cửa hàng chúng tôi mà phát hiện các sản phẩm lỗi về kỹ thuật hay sai lệch về chất lượng quý khách có thể đổi lại sản phẩm tương tự hoặc 1 sản phẩm khác mà quý khách yêu cầu. (Các sản phẩm chăn ga gối sau khi đã giặt giũ hay sử dụng mới phát hiện ra lỗi chúng tôi không chịu trách nhiệm nhưng sẽ hỗ trợ tối đa có thể để khắc phục tình trạng lỗi đó). Thời gian đổi là 03 ngày sau khi giao dịch mua bán hàng (quý khách xuất trình hóa đơn mua hàng để chứng mình đã giao dịch hàng hóa đó với của hàng). Thời gian đổi hàng có thể lâu hơn tùy thuộc và từng mặt hàng hay thỏa thuận giữa hai bên. Trường hợp sản phẩm không bị lỗi quý khách muốn đổi sản phẩm khác quý khách phải chịu tất cả các chi phí vận chuyển giao nhận hàng hóa. (thời gian đổi tùy thuộc vào thỏa thuận giữa hai bên). Trường hợp chúng tôi chuyển nhầm lẫn, sai lệch hàng hóa không đúng với yêu cầu của quý khách. Chúng tôi sẽ có trách nhiệm đổi, trả sản phẩm đúng theo yêu cầu và quý khách không phải chịu thêm bất cứ chi phí phát sinh nào khác trong quá trình vận chuyển.</p>
                <p>
                    Tùy vào thỏa thuận giữa quý khách và cửa hàng trước khi tiến hành mua bán hàng hóa về việc trả hàng và hoàn lại tiền. Trước khi mua, bán mà giữa khách hàng và cửa hàng không có thỏa thuận về việc trả lại hàng và hoàn tiền thì mặc định của giao dịch này sẽ áp dụng sang chính sách đổi hàng.

                </p>

            </div>
        </div>

    </div>
</div>

