@model Model.EF.Contries

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Chi tiết các nước sản xuất
}

<div>
    <h4>Contries</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Country_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Country_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
