@model Model.EF.Sizes

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Chi tiết kích cỡ
}

<div>
    <h4>Sizes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Size_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Size_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
